<div class="p-6 flex justify-center">
  <div class="w-full max-w-4xl">
    <h1 class="text-2xl font-bold mb-4 text-center">Your items</h1>

    @if (!cartService.loggedIn()) {
    <div class="text-center text-gray-500">Must login!</div>
    } @else if (cartService.getCartItemsLength() == 0) {
    <div class="text-center text-gray-600">No item found.</div>
    } @else {
    <table class="border-collapse border border-gray-300 rounded-xl shadow-sm mx-auto">
      <thead>
        <tr class="bg-gray-100 text-left">
          <th class="border p-2">ID</th>
          <th class="border p-2">Quantity</th>
          <th class="border p-2">unitPrice</th>
          <th class="border p-2">Name</th>
          <th colspan="3" class="border p-2">Total price: {{totalAmount}}€</th>
        </tr>
      </thead>
      <tbody class="text-white">
        @for (i of cartService.getItems(); track i.id) {
        <tr class="hover:bg-gray-50">
          <td class="border p-2">{{ i.id }}</td>
          <td class="border p-2 font-medium">{{ i.quantity }}</td>
          <td class="border p-2">{{ i.unitPrice }}</td>
          <td class="border p-2">{{ i.product.name }}</td>
          <td class="border p-2">
            <div class="flex items-center gap-2">
              <input type="number" min="1" [max]="" [value]="i.quantity" class="qinput text-center" #qtyInput />
            </div>
          </td>
          <td class="border p-2">
            <div class="flex items-center gap-2">
              <button class="btn btn-success" (click)="updateQuantity(i.id, qtyInput.value)" >
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M482-160q-134 0-228-93t-94-227v-7l-64 64-56-56 160-160 160 160-56 56-64-64v7q0 100 70.5 170T482-240q26 0 51-6t49-18l60 60q-38 22-78 33t-82 11Zm278-161L600-481l56-56 64 64v-7q0-100-70.5-170T478-720q-26 0-51 6t-49 18l-60-60q38-22 78-33t82-11q134 0 228 93t94 227v7l64-64 56 56-160 160Z"/></svg>
              </button>
            </div>
          </td>
          <td class="border p-2">
            <div class="flex items-center gap-2">
              <button class="btn btn-danger" (click)="removeItem(i.id)" >
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/></svg>
              </button>
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
    <div class="text-center pt-3 d-flex justify-content-center gap-3">
        <button class="btn btn-primary px-4 py-2" (click)="makeOrder()" >Order</button>
        <button class="btn btn-danger px-4 py-2" (click)="clearCart()">Clear cart</button>
    </div>
    }
  </div>
</div>
